body{
    /* font-family:  Comic Sans MS, Comic Sans, cursive ; */
    font-family: "Segoe Print", Times, serif;
}



#header {
    width : 95%;
    height: 50%;
    background-color: bisque;
    padding: 1.65%;
    color: dimgray;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;

}
ul {
    list-style-type: none;
    /* margin-left : 800px; */
    padding: 0;
    overflow: hidden;
    /* margin: auto; */
    /* width : 18%; */
  }
  
  
  li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: centre;
    font-size: 130%;
    /* float: left; */
  }
  li{
    float: left;
    /* display:inline; */
  }

  
  li a:hover {
    background-color: lightslategray;
  }
h1{
    text-align: left;
    padding-left: 4%;
    padding-bottom: 0%;
    width: 100%;
}

.row{

    width : 98%;
    height : 20%;
    display: flex;
    margin-top: 3%;

}
#para{
    width : 30%;
    height: 20%;
    background-color: cyan;
    color: black;
    padding : 1.8%;
    text-align: justify;
    border-radius: 3% ;
}
a {
    text-decoration: none;
}


img.thanks{
    margin-right:2% ;
    width: 7%;
    height : 7%;

}
#para2{
    margin-left: 3%;
    margin-right: 3%;
    width : 30%;
    height: 10%;
    background-color: khaki;
    color: black;
    padding : 1.8%;
    text-align: justify;
    border-radius: 3% ;
}
 
/* #angel
{
    margin-left: 2%;
} */
img.home {
    width : 2%;
    height : 3%;
    display: inline;
    vertical-align: top;
}
img.docs{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    width: 30%;
    height: 30%;
}
#logo{
    display: block;
    width: 100%;
    height: 20%;
    margin-bottom: 2%;
}
h3{
    display: inline;
    vertical-align:top;
    padding-bottom: 3%;
}
.d4 {
    background-color: #112031;
    padding: 10px;
    position: relative;
    left: 0px;
    right: 0px;
    top: 20px;
    color : white;
  }