#header{
    text-align: center;
    background-color: blanchedalmond;
    border: 1px solid black;
    width: 45%;
    margin: auto;

}
ol li img{
    width: 20%;
    height: 20%;
    vertical-align: top;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 120px 20px 120px 20px;
    
}
strong{
    display: inline-flex;
}

ol li article{
    display:inline-flex;
    width: 69%;
    height: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 125%;
}

#list{
    margin-left: 5%;
    margin-top: 4%;
}
span{
    font-size: 120%;
}

li{
    border: 1px solid black;
    background-color:darkgrey;
    width: 90%;
    border-radius: 8px;

}

h2{
    padding-left: 3%;
    text-transform: uppercase;
}

body{
    font-family:  Comic Sans MS, Comic Sans, cursive ;
}
