#header{
    text-align: center;
    background-color: blanchedalmond;
    /* border: 1px solid black; */
    /* width: 45%; */
    /* margin: auto; */
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    text-transform: capitalize;
    color: dimgray;

}
ol li img{
    width: 20%;
    height: 20%;
    vertical-align: top;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 120px 20px 120px 20px;
    
}
strong{
    display: inline-flex;
}

ol li article{
    display:inline-flex;
    width: 69%;
    height: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 125%;
}

#list{
    margin-left: 5%;
    margin-top: 4%;
    /* margin: auto;     */
}
span{
    font-size: 120%;
}

li.doc{
    /* border: 1px solid black; */
    background-color:skyblue;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h2{
    padding-left: 3%;
    padding-bottom: 2%;
    text-transform: uppercase;
    /* color: dimgray; */
}

body{
    /* font-family: Comic Sans MS, Comic Sans, cursive ; */
    font-family: "Segoe Print", Times, serif;
}

#source{
    margin-left: 8%;

}


ul {
    list-style-type: none;
    /* margin-left : 800px; */
    padding: 0;
    overflow: hidden;
    /* margin: auto; */
    /* width : 18%; */
  }
  
  
  li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: centre;
    font-size: 130%;
    /* float: left; */
  }
  li.more{
    float: left;
    /* display:inline; */
  }

  
  li a:hover {
    background-color: lightslategray;
  }
  .d4 {
    background-color: #112031;
    padding: 10px;
    position: relative;
    left: 0px;
    right: 0px;
    top: 20px;
    color : white;
  }