#header{
    text-align: center;
    background-color: blanchedalmond;
    /* border: 1px solid black; */
    /* width: 45%; */
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    text-transform: capitalize;

}
ol li img{
    width: 20%;
    height: 20%;
    vertical-align: top;
    padding-left: 3%;
    padding-top: 2%;
    border-radius: 120px 20px 120px 20px;
    
}
strong{
    display: inline-flex;
}

ol li article{
    display:inline-flex;
    width: 69%;
    height: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-top: 2%;
    font-size: 125%;
}

#list{
    margin-left: 5%;
    margin-top: 4%;
    /* margin: auto;     */
}
span{
    font-size: 120%;
}

li{
    /* border: 1px solid black; */
    background-color:darkgrey;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h2{
    padding-left: 3%;
    padding-bottom: 2%;
    text-transform: uppercase;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#source{
    margin-left: 8%;

}