body{
    /* background: white; */
    background-image: url('images/newdoc.jpeg');
    background-repeat: no-repeat;
    background-size:50%;
    /* opacity : 0.3; */
    color :black;
    /* text-align : center; */
    /* font-family: Comic Sans MS, Comic Sans, cursive ; */
    font-family: "Segoe Print", Times, serif;
}


p {
    /* text-align: centre; */
    /* border : 3px solid black; */
     width: 47%;
     margin-left : 800px;
     text-align: justify;
     /* display: inline; */
     
    /* height : 70%; */
  }

  p::first-letter {
    color: #ff0000;
    font-size: 200%;
  }

  iframe {
    /* display: inline-flex; */
    /* width: fit-content;     */
    margin-left : 60%;

  }

  /* h1{
     display: inline-block;
     margin-left : 720px;
     margin-top: 0%;
     text-align: centre ;
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 8px;
    border: 2px solid black;
    border-radius: 8px;
    color: darkorchid;
     
  } */
  h2{
    width: 26%;
    padding: 5px;
    border-radius: 8px;
    /* border: 2px solid black; */
    margin-left : 800px;
    margin-top: 8px;
    box-shadow : black;
    text-align: left ;
    /* display: inline-flex; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   */
    
 }
  ul {
    list-style-type: none;
    /* margin-left : 800px; */
    padding: 0;
    overflow: hidden;
    /* margin: auto; */
    /* width : 18%; */
  }
  
  
  li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    text-align: centre;
    font-size: 130%;
    /* float: left; */
  }
  li{
    float: left;
    /* display:inline; */
  }

  
  li a:hover {
    background-color: lightslategray;
  }
  h3{
    vertical-align: middle ;
  }
  img.home {
    width : 3%;
    height : 3%;
    width: 2%;
    display: inline;
    vertical-align: middle;
}

.d4 {
  background-color: #112031;
  padding: 10px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 900px;
  color : white;
}

video {
  margin-left: 52.2%;
  width: 30%;
  /* display: inline-table; */
  border-style:ridge;
}

h1:hover{
  border: 1px solid black;
}